html {
    font-family: sans-serif;
}

.body {
    background-image: url('../images/dark_wall.png');
    background-size: 25%;
}

a {
    text-decoration: none;
    color: white;
}

a :hover {
    color: rgb(228, 15, 52);
}

.header-logo__thumbnail {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
}

.header {
    background: linear-gradient(rgb(1, 84, 81), 45%, rgb( 0, 24, 39));
    padding: 1.5rem;
}

.menus-wrapper {
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-nav__icone svg {
    display: block;
    width: 80%;
}

.header-nav__icone :hover {
    color: rgb(228, 15, 52);
}

.header-nav__title {
    display: none;
    font-size: 1rem;
}

.header-register__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.header-register__icon {
    width: 20%;
}

.header-register {
    display: none;
}

.header-register--on {
    display: flex;
}

.header-register__item {
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.menu-nav {
    display: none;
}

.menu-nav--on {
    display: block;
    width: 100%;
    background-color:rgba(0, 24, 39, 0.8);
    padding: 2rem;
    color: white;
    font-size: 1.2rem;
    position: absolute;
}

#benjx {
    display: block;
    width: 40%;
    margin: 1rem auto;
}

.menu-nav__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-nav__item {
    font-size: 1.2rem;
}

/* .main {
    height: 100%;
} */

section {
    min-height: 86vh;
}

.calendrier {
    z-index: -1;
    margin-bottom: 2rem;
    position: relative;
}

.table {
    margin: 0;
}

.calendrier-title, .meteo-title {
    font-size: 1rem;
    padding: 2rem 0;
    text-align: center;
    font-weight: bold;
    color: rgb(228, 15, 52);
    text-transform: uppercase;
    text-shadow: 0 0 3.5rem white;
}

.calendrier td, .calendrier th {
    padding: 0.5rem;
    vertical-align: middle;
    font-size: 0.8rem;
} 

.calendrier-item__race {
    color: rgb(228, 15, 52);
}

.calendrier-item__country , .thead-country {
    text-transform: uppercase;
}

.calendrier-item__flag img {
    display: block;
    margin-right: 50%;
    width: 1.6rem;
    height: 1rem;
}

.meteo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
}

.meteo-location {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.meteo-location select {
    width: 150%;
    height: 3rem;
    text-align: center;
}

/* .meteo-widget {
    margin-left: calc(50% - 290px/2);
} */

.meteo-widget iframe {
    padding: 1rem;
    border: 0;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.form input, button{
    width: 20%;
    height: 1.5rem;
    margin-top: 0.5rem;
}

.form label {
    margin-top: 1.5rem;
}

#footer {
    background-color: rgba(0, 0, 0, 0.4);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer img {
    display: block;
    height: 1.5rem;
}


/******** TESTS ADMIN  ********/


.admin {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    padding: 1rem;
}

.admin-submit {
    display: flex;
    flex-direction: column;
}

#admin_add {
    margin: 1rem 0;
    height: 2rem;
}

.admin-delete {
    display: flex;
    justify-content: space-between;
    height: 2rem;
}

.admin label {
    font-weight: bold;
    margin: 1rem 0;
    color: white;
}

/* .admin-submit {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
    height: 2.5rem;
} */




@media (min-width: 450px) {
    .header-register__item {
        line-height: 2rem;
        font-size: 1.5rem
    }
}

@media (min-width: 600px) {
    .header-register__item {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .calendrier-title {
        font-size: 1.5rem;
    }

    .calendrier td, .calendrier th {
        padding: 1.2rem;
        font-size: 1.2rem;
    }

    /* .meteo-widget {
        margin-left: calc(50% - 450px/2);
    } */

    .meteo-widget iframe {
        width: 450px;
        height: 450px;
    }
}

@media (min-width: 800px) {
    .header-register__item {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .header-nav__title {
        display: block;
        font-size: 2.8rem;
    }

    .menu {
        gap: 1rem;
    }

    .calendrier td, .calendrier th {
        font-size: 1.5rem;
    }
}

@media (min-width: 1000px) {
    .header {
        position: relative;
        padding: 0.5rem;
    }

    .header-logo__thumbnail {
        width: 30%;
    }

    .header-nav__icone {
        width: 10%;
    }

    .header-nav__title {
        font-size: 1.5rem;
    }

    .menus-wrapper {
        position: absolute;
        top: 40%;
        right: 2rem;
        left: 2rem;

    }

    .header-register__icon {
        width: 7%;
        height: 7%;
    }

    .header-register__item {
        font-size: 1.5rem;
        line-height: 2rem;
    }    

    .calendrier {
        padding: 0 10%;
    }

    .calendrier-title {
        padding: 5rem 0;
    }

    .calendrier td, .calendrier th {
        font-size: 1.4rem;
    }

    .calendrier-item__flag img {
        width: 3.2rem;
        height: 2rem;
    }
}

@media (min-width: 1400px) {
    .header-register__items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 1rem;
    }
}