html {
    font-family: sans-serif;
}

.body {
    background-image: radial-gradient(circle, rgba(1, 84, 81, 0.37) 0%, rgba( 0, 39, 53, 0.897) 50%, rgb( 0, 24, 39) 100%), url('../images/dirt-rally-2-0-pc.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    min-height: 79vh;
}

label, tr {
    color: white;
    margin-top: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(228, 15, 52);
}

.header-logo__thumbnail {
    display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
}

.header {
    background: linear-gradient(rgb(1, 84, 81), 45%, rgb( 0, 24, 39));
    padding: 2.5rem;
}

.menus-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.header-nav__icon :hover,
.header-register__icon :hover {
    color: rgb(228, 15, 52);
}

.header-nav__title {
    display: none;
    font-size: 1rem;
}

.header-register__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.header-register {
    display: none;
}

.header-register--on {
    display: flex;
}

.header-register__item {
    line-height: 1.5rem;
    font-size: 1.2rem;
}

.menu-nav {
    display: none;
}

.menu-nav--on {
    display: block;
    width: 100%;
    background-color:rgba(0, 24, 39, 0.8);
    padding: 2rem;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    z-index: 1;
}

#benjx {
    display: block;
    width: 40%;
    margin: 1rem auto;
}

.menu-nav__items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-nav__item {
    font-size: 1.2rem;
}

.calendrier,
.classement {
    margin-bottom: 2rem;
}

.calendrier table,
.classement table {
    opacity: 80%;
}

.calendrier table td:nth-child(1),
.calendrier table th:nth-child(1) {
    display: none;
}

h2 {
    font-size: 1rem;
    padding: 2rem 0;
    text-align: center;
    font-weight: bold;
    color: rgba(228, 15, 52);
    text-transform: uppercase;
    text-shadow: 1px 1px 2rem white;
}

.calendrier td, .calendrier th,
.classement td, .classement th {
    padding: 0.5rem;
    vertical-align: middle;
    font-size: 0.8rem;
}

.calendrier-item:nth-child(3),
.thead-country {
    text-transform: uppercase;
}

.classement-item img {
    width: 2rem;
    height: 2rem;
    margin-left: 1.5rem;
}

.calendrier table td:nth-last-child(1),
.classement table td:nth-last-child(1) {
    font-size: 1rem;
    font-weight: bold;
}

.meteo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.meteo-title {
    font-size: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
    color: rgb(228, 15, 52);
    text-transform: uppercase;
    text-shadow: 1px 1px 2rem white;
}

#meteo-location select {
    width: 100%;
    height: 4rem;
}

#meteo-location option:nth-child(1) {
    text-align: center;
}

.meteo-widget iframe {
    padding: 1rem;
    opacity: 90%;
    border-radius: 2rem;
}

#line-up__list {
    color: white;
    margin-bottom: 2rem;
}

.line-up__row {
    border: 1px solid white;
}

.line-up__col {
    padding: 1.5rem 0.5rem;
}

.line-up__col p {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.8rem 0;
    background-color: rgb(255,255,255, 0.8);
    color: rgb(228, 15, 52);
    border-radius: 5px;
}

.line-up__col span {
    display: none;
    /* (min-width: 800px) */
}

.line-up-generate {
    width: 30%;
}

/* Style de base pour la classe personnalisée */
.line-up__checkbox .btn-outline-custom {
    background-color: white;
    color: rgb(228, 15, 52);
    border-color: rgb(228, 15, 52);
}

/* Style lors du survol du curseur de la souris pour le label */
.line-up__checkbox:hover .btn-outline-custom,
.line-up__checkbox:focus .btn-outline-custom {
    background-color: rgb(228, 15, 52);
    color: white;
    border-color: white;
}

/* Style lorsqu'une checkbox est cochée */
.line-up__checkbox .btn-check:checked + .btn-outline-custom {
    background-color: rgb(228, 15, 52);
    color: white;
    border-color: white;
}

input[type="checkbox"]:hover,
input[type="checkbox"]:focus {
    background-color: rgb(228, 15, 52);
    color: white;
    border-color: white;
}

input[type="checkbox"]:checked {
    background-color: rgb(228, 15, 52);
    color: white;
    border-color: white;
}

#footer {
    background-color: rgba(0, 0, 0, 0.4);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#footer img {
    display: block;
    height: 1.5rem;
}

.admin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 1.5rem;
}

.admin-input {
    width: 40%;
    color: white;
}

.admin-preview {
    width: 40%;
}

.preview {
    color: white;
    margin-top: 1rem;
}

.preview__title  {
    color: white;
    font-weight: bold;
}

.preview tbody th {
    color: rgb(228, 15, 52);
}

.users-list {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.list-add {
    margin-top: 2rem;
}

@media (min-width: 450px) {
    .header-register__item {
        line-height: 2rem;
        font-size: 1.5rem
    }

    .meteo-widget iframe {
        width: 450px;
        height: 450px;
    }
}

@media (min-width: 600px) {
    h2 {
        font-size: 1.5rem;
    }

    .header-nav__icon {
        margin-left: 2rem;
    }

    .header-register__icon {
        margin-right: 2rem;
    }

    .header-register__item {
        font-size: 1.8rem;
        line-height: 2.5rem;
    }

    .calendrier td, .calendrier th,
    .classement td, .classement th {
        padding: 1.2rem;
        font-size: 1.2rem;
    }

    .meteo-widget iframe {
        width: 550px;
        height: 450px;
    }
}

@media (min-width: 800px) {
    .header-register__item {
        font-size: 2rem;
        line-height: 2.8rem;
    }

    .header-nav__title {
        display: block;
        font-size: 2.8rem;
    }

    .calendrier table td:nth-child(1),
    .calendrier table th:nth-child(1) {
        display: block;
    }

    .calendrier table td:nth-last-child(1),
    .classement table td:nth-last-child(1) {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .calendrier-item img {
        width: 3.1rem;
        height: 1.8rem;
    }

    .classement-item img {
        width: 4rem;
        height: 4rem;
    }

    .calendrier td, .calendrier th,
    .classement td, .classement th {
        font-size: 1.5rem;
    }

    .line-up__col span {
        display: inline;
        font-size: 0.6rem;
        background-color: rgb(228, 15, 52);
        padding: 0.4rem;
        border-radius: 5px;
    }
}

@media (min-width: 1000px) {
    h2 {
        padding: 5rem 0;
    }

    .header {
        position: relative;
        padding: 0.5rem;
    }

    .header-logo__thumbnail {
        width: 30%;
    }

    .header-nav__title {
        font-size: 1.5rem;
    }

    .menus-wrapper {
        position: absolute;
        top: 40%;
        right: 2rem;
        left: 2rem;
    }

    .header-register__item {
        font-size: 1.5rem;
        line-height: 2rem;
    }    

    .calendrier,
    .classement {
        padding: 0 15%;
    }

    .calendrier td, .calendrier th,
    .classement td, .classement th {
        font-size: 1.4rem;
    }

    .line-up__col {
        padding: 2rem 1rem;
    }

    .line-up__col p {
        font-size: 1.6rem;
    }

    .line-up__col span {
        font-size: 0.8rem;
    }
}
